@import '../../../styles/variables.scss';

.basket_empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 110px;
    gap: 54px;

    &__name {
        width: 100%;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.4;
        color: $black;
    }
    &__image {
        height: 155px;
        width: 155px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('../../../vendor/images/basket/basket-empty.png');
    }
}
