@import '../../../styles/variables.scss';

.basket_meal {
    padding-bottom: 14px;
    border-bottom: 1px solid $line;

    &__container {
        position: relative;
        display: flex;
        gap: 17px;
    }
    &__image {
        width: 74px;
        height: 75px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
    }
    &__description {
        position: relative;
        box-sizing: content-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__name {
        font-size: 15px;
        font-weight: 400;
        line-height: 1.4;
        color: $black;
    }
    &__feature {
        font-size: 8px;
        font-weight: 400;
        line-height: 1.22;
        color: $grey;
    }
    &__price_container {
        display: flex;
        align-items: baseline;
        gap: 10px;
    }
    &__size {
        font-size: 13px;
        font-weight: 400;
        line-height: 1.22;
        color: $light-gray;
    }
    &__price {
        font-size: 17px;
        font-weight: 500;
        line-height: 1.4;
        color: $orange;
    }
    &__counter {
        position: absolute;
        right: 0px;
        bottom: 0px;
        width: 110px;
        height: 40px;
    }
}
