@import '../../styles/variables.scss';

.leave_order_feedback {
    &__layout {
        padding: 0 21px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__subtitle {
        font-size: 17px;
        font-weight: 500;
        line-height: 23.8px;
        color: $grey;
        display: flex;
        width: 100%;
    }

    &__preloader_wrapper {
        position: absolute;
        top: calc(-1 * 11%);
        left: 50%;
        transform: translateX(-50%);
    }
}
