@import '../../../styles/variables.scss';

.popup {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(100% - 30px);
    background-color: $background;
    box-shadow: 0px 27px 48px -23px rgba(28, 39, 49, 0.16);
    border-radius: 25px;
    margin: 115px auto 20px;
    padding: 30px 0;
    align-items: center;

    &__close {
        position: absolute;
        width: 35px;
        height: 35px;
        top: 20px;
        right: 5px;
        background-color: transparent;
        margin: 0 auto;
        border: none;
        padding: 0;

        &:before {
            content: '';
            width: 22px;
            height: 2px;
            position: absolute;
            top: 12px;
            left: -4px;
            background: $grey;
            transform: rotate(-45deg);
        }

        &:after {
            content: '';
            width: 22px;
            height: 2px;
            position: absolute;
            top: 12px;
            left: -4px;
            background: $grey;
            transform: rotate(45deg);
        }
    }

    &__overlay {
        position: absolute; //fixed --> without scroll
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100vh;
        background-color: rgba(135, 133, 133, 0.75);
        backdrop-filter: blur(2.5px);

        &_hide {
            display: none;
        }
    }

    &_hide {
        display: none;
    }
}
