@import '../../../../styles/variables.scss';

.meals_list {
    height: 360px;
    flex-grow: 1;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 15px;
    row-gap: 15px;

    &_short {
        grid-template-columns: repeat(2, minmax(165px, 1fr));
    }
}
