.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: auto;

    &__success {
        width: 38px;
        height: 38px;
        background-image: url(../../../vendor/images/successful.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    &__text {
        font-size: 20px;
        line-height: 28px;
        text-align: center;
    }
}
