@import '../../../../styles/variables.scss';

.boxfood {
    border-radius: 20px;
    border: 1px solid $line;
    cursor: pointer;

    &__container {
        display: flex;
        flex-direction: column;
    }
    &__image {
        height: 86px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 20px 20px 0 0;
    }
    &__description {
        position: relative;
        box-sizing: content-box;
        height: 67px;
        display: flex;
        flex-direction: column;
        gap: 14px;
        padding: 10px 10px 15px 10px;
    }
    &__name {
        font-size: 15px;
        font-weight: 400;
        line-height: 1.4;
        color: $black;
    }
    &__price {
        font-size: 17px;
        font-weight: 500;
        line-height: 1.4;
        color: $black;
    }
    &__button {
        position: absolute;
        width: 41px;
        height: 41px;
        bottom: 15px;
        right: 10px;
    }
}
