.success_password_change {
    &__layout {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 21px;
        row-gap: 10px;
    }

    &__success {
        width: 38px;
        height: 38px;
        background-image: url(../../../vendor/images/successful.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
}
