@import '../../styles/variables.scss';

.favorites {
    &__error,
    &__empty {
        display: block;
        width: 100%;
        margin: 100px auto;
        text-align: center;
        font-size: 14px;
        color: $orange;
    }
    &__list {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 25px;
    }
}
