@import '../../../styles/variables.scss';

.starRating {
    display: flex;
    width: 100%;
    padding: 15px 0;

    &__star {
        position: relative;
        width: 34px;
        height: 34px;
        margin-right: 5.5px;
        cursor: pointer;

        &:last-child {
            margin-right: 0;
        }
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: opacity 0.3s ease;
    }

    &__img_filled {
        opacity: 0;
    }
}
