@import '../../../styles/variables.scss';

.card {
    width: 100%;
    border-radius: 20px;
    border: 1px solid $line;
    cursor: pointer;
    &__active {
        border-color: $orange;
    }
    &__container {
        display: flex;
    }
    &__image {
        height: 100%;
        width: 113px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 20px 0 0 20px;
    }
    &__description {
        flex-grow: 2;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 15px;
    }
    &__title_container {
        display: flex;
        justify-content: flex-end;
    }
    &__title {
        flex-grow: 2;
        font-size: 17px;
        font-weight: 500;
        line-height: 1.4;
        color: $black;
        margin-right: 5px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__rating {
        width: 24px;
        margin-right: 5px;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.4;
        color: $black;
    }
    &__icon {
        flex-shrink: 0;
        background-repeat: no-repeat;
        background-position: center;
    }
    &__icon_small {
        height: 15px;
        width: 15px;
    }
    &__icon_large {
        height: 19px;
        width: 19px;
    }
    &__icon_star {
        background-image: url(./../../../vendor/images/icons/restaurant/star.svg);
    }
    &__feature {
        display: flex;
        gap: 6px;
    }
    &__icon_placemark {
        background-image: url(./../../../vendor/images/icons/restaurant/placemark.svg);
    }
    &__icon_clock {
        background-image: url(./../../../vendor/images/icons/restaurant/clock.svg);
    }
    &__feature_title {
        display: block;
        width: 100%;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.21;
        color: $grey;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
