@import '../../styles/variables.scss';

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 107px;
    left: 50%;
    transform: translate(-50%);
    width: 345px;
    padding: 50px 15px;
    box-shadow: 0px 27px 48px -23px rgba(28, 39, 49, 0.16);
    border-radius: 25px;
    background: $background;
}
