@import '../../../../styles/variables.scss';

.restaurant_popup {
    position: fixed;
    top: 122px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    max-width: 375px;
    background-color: $background;
    box-shadow: 0px 27px 48px -23px rgba(28, 39, 49, 0.16);
    border-radius: 25px 25px 0px 0px;
    margin: 0px auto;
    z-index: map-get($zIndexes, menu);

    &_overlay {
        position: absolute;
        display: flex;
        justify-content: center;
        overflow-x: hidden;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100vh;
        background-color: rgba(135, 133, 133, 0.75);
        backdrop-filter: blur(2.5px);
    }
    &_button {
        position: absolute;
        width: 43px;
        height: 41px;
        opacity: 85%;
        top: 15px;
        &_favorite {
            right: 69px;
        }
        &_close {
            right: 16px;
        }
        &_like {
            right: 69px;
        }
    }
}
