@import '../../styles/variables.scss';

.button {
    width: 100%;
    height: 49px;
    border-radius: 25px;
    background: $orange;
    border: none;
    color: $white;
    font-weight: 600;
    margin-top: 25px;
    cursor: pointer;

    &_disabled {
        background: $button-grey;
        color: $grey;
    }
}
