@import '../../../styles/variables.scss';

.basket_total {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 35px 0 25px 0;

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__text {
        font-size: 17px;
        font-weight: 500;
        line-height: 1.4;
        color: $black;
    }
    &__price {
        font-size: 20px;
    }
    &__button {
        width: 100%;
    }
}
