@import '../../../styles/variables.scss';

.button_element {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 38px;
    border-radius: 35px;
    background: $button-grey;
    padding-inline: 0;
    padding-block: 0;
    user-select: none;
    cursor: pointer;

    &_input {
        z-index: -1;
        opacity: 0;
        display: block;
        width: 0;
        height: 0;
    }
    &_text {
        padding: 9px 16px 9px 16px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.4;
        color: $black;
    }
    &_text_active {
        color: $white;
    }
    &_active {
        background: $orange;
    }
}
