@import '../../styles/variables.scss';

.pageNotFound {
    display: flex;
    flex-direction: column;
    padding: 90px 21px 122px 22px;

    &__error {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 69px;
        font-weight: 500;
        line-height: 1.28;
        color: $orange;
    }

    &__icon {
        width: 89px;
        height: 89px;
        background-image: url('./magnifier.svg');
        background-size: contain;
        background-repeat: no-repeat;
    }

    &__message {
        margin-top: 20px;
        margin-bottom: 60px;
        text-align: center;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.4;
        color: $black;
    }
}
