@import '../../styles/variables.scss';

.filter {
    position: relative;
    top: -28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
    width: 100%;
    background-color: $background;
    box-shadow: 0px 27px 48px -23px rgba(28, 39, 49, 0.16);
    border-radius: 5px;
    padding: 15px 15px 30px 15px;

    &__title_container {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__icon_back {
        position: absolute;
        left: 0;
        top: -7px;
        width: 35px;
        height: 35px;
        border: none;
        background-image: url('../../vendor/images/icons/arrow-back.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
        cursor: pointer;
    }
    &__text {
        text-align: center;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.4;
    }
    &__text_bold {
        font-weight: 500;
    }
    &__empty_div {
        height: 21px;
    }
    &__search_container {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }
    &__options_container {
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        border: 1px solid $line;
    }
    &__input_container {
        position: relative;
        display: flex;
        justify-content: center;
    }
    &__input {
        box-sizing: border-box;
        width: 100%;
        height: 38px;
        border-radius: 20px;
        border: 1px solid $line;
        background-color: transparent;
        padding-left: 48px;
        &:placeholder {
            color: $light-gray;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.4;
        }
        &:focus {
            outline: 1px solid $line;
        }
    }
    &__icon_search {
        position: absolute;
        left: 10px;
        top: 2px;
        width: 35px;
        height: 35px;
        border: none;
        background-image: url('./search-icon.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
        cursor: pointer;
    }
    &__options_list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
        padding: 15px 0 15px 0;
    }
    &__options {
        display: flex;
        flex-wrap: wrap;
        padding: 0 6px 0 6px;
        row-gap: 5px;
        column-gap: 4px;
    }
    &__options_nowrap {
        max-width: 345px;
        margin-bottom: 5px;
        flex-wrap: nowrap;
        text-wrap: nowrap;
        overflow-x: auto;
        cursor: pointer;
    }
    &__nothingFound {
        margin-bottom: 10px;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.4;
    }
    &__types {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0 6px 0 6px;
        column-gap: 17px;
    }
    &_overlay {
        position: absolute;
        top: 28px;
        width: 100%;
        height: 100%;
        background-color: rgba(135, 133, 133, 0.75);
        backdrop-filter: blur(2.5px);
    }
}
