@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.preloader {
    position: absolute;
    top: 40svh;
    left: calc(50% - 25px);
    z-index: 11;

    &__load {
        margin: 0 auto;
        box-sizing: border-box;
        width: 50px;
        animation: rotation 1s infinite linear;
        height: 50px;
        border: 12px solid #ee9505;
        border-bottom: 12px solid #ffffff;
        border-radius: 50%;
    }
}
